.container {
    padding: 0!important;
}
header {
    background-color: #fff;
    height: 8rem;
    padding: 3rem 1.6rem 0 1.6rem;
}

.header-logo {
    margin: 0;
    color: #163259;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: .3rem;
}

.content-wrapper {
    padding: 0 1.6rem;
}

.message p {
    line-height: 2rem;
    letter-spacing: .1rem;
}
.explanation {
    height: 19rem;
    img {
        max-height: 19rem;
        min-height: 16rem;
        max-width: calc(100vw - 3.2rem)!important;
    }
}

.answer {
    padding: 2rem 1rem;
    font-weight: 400;
    font-size: 3rem;
}

.select-btn {
    background-color: #E6E400!important;
    border-color: #E6E400!important;
    padding: 1rem 3rem!important;
    color: #333333!important;
    letter-spacing: .2rem;
}

p {
    color: #444444;
}

form {
    text-align: center;
}

footer {
    width: 100%;
    background-color: #fff;
    height: 4rem;
    position: absolute;
    bottom: 0;
}

.footer_img {
    height: 25px;
    margin: 15px 25px;
}

small {
    margin: 15px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}
